$background-color: #000b18;
$text-color: #ffffff;
$card-shadow-color: rgb(58, 47, 128);
$card-border-color: 000b18;
$card-color: #4700afb8;
body {
	background-color: #0b0a14;
	color: $text-color;
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
}

h1 {
	text-align: center;
}

ul {
	text-transform: none;
	padding: 0;
}

.movies-grid {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-gap: 30px;
}

.movie-card {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(30deg, #24243c 10%, #262647);
	border: 1px solid $card-border-color;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 6px 28px 46px -6px #000;
	transition: box-shadow 0.3s ease;

	.title-wrapper {
		display: flex;
		justify-content: space-between;
		h2 {
			font-size: 22px;
			margin-top: 0;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1.5em;
			height: 4.5em;
		}
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 380px;
		box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
		transition: all 0.3s;
		border-radius: 5px;
		cursor: pointer;
		transform: scale(0.9);
		align-content: space-around;
	}

	h3 {
		margin: 0 0 10px;
		font-size: 1.2em;
	}

	.movie-info {
		padding: 0 16px;
		width: 100%;
		box-sizing: border-box;
	}

	.favorite-heart {
		width: 24px;
		height: 24px;
		fill: white;
		transition: fill 0.3s ease;
	}

	.heart-filled {
		fill: red;
	}

	button {
		background: none;
		border: none;
		&:active,
		&:focus,
		&:focus-visible {
			border: none;
			outline: none;
		}
	}
}

.highlighted {
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
	background: linear-gradient(30deg, #000000 10%, #0b0b78);
}
