$background-color: #0b0a14;
$primary-color: #ffffff;
$secondary-color: #383958;
$info-color: #0cabf8;
$accent-color: #b3ac23;
$card-gradient: linear-gradient(30deg, #24243c 10%, #262647);
$highlighted-gradient: linear-gradient(30deg, #000000 10%, #0b0b78);

body {
	background-color: $background-color;
	color: $primary-color;
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	padding: 0 0 88px;
	margin: 0;
}

h1 {
	text-align: center;
}

ul {
	text-transform: none;
	padding: 0;
}

.movies-grid {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-gap: 30px;
	@media (min-width: 960px) and (max-width: 1140px) {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		.movie-card {
			.img-container {
				height: 380px;
			}
			.title-wrapper {
				h2 {
					margin: 0;
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
		.release-date {
			font-size: 0.875em;

			.release-label {
				font-size: 0.8em;
			}
		}
	}

	@media (min-width: 801px) and (max-width: 960px) {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		.movie-card {
			.img-container {
				height: 239px;
			}

			.title-wrapper {
				h2 {
					margin: 0;
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}

	@media (min-width: 600px) and (max-width: 800px) {
		grid-template-columns: repeat(2, minmax(230px, 1fr));
		.movie-card {
			.img-container {
				height: 513px;
			}
		}
	}

	@media (max-width: 600px) {
		.movie-card {
			.img-container {
				height: 640px;
			}
			.title-wrapper {
				h2 {
					margin: 0;
					font-size: 16px;
					font-weight: 500;
				}
			}
			.release-date {
				margin-top: 0;
			}
		}
	}
}

.movie-card {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $card-gradient;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 6px 28px 46px -6px #000;
	transition: box-shadow 0.3s ease;

	.title-wrapper {
		display: flex;
		justify-content: space-between;
		h2 {
			font-size: 22px;
			margin-top: 0;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1.5em;
			height: 4.5em;
		}
	}

	.img-container {
		width: 100%;
		height: 396px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s;
			border-radius: 5px;
			cursor: pointer;
			transform: scale(0.9);
			align-content: space-around;
		}
	}

	h3 {
		margin: 0 0 10px;
		font-size: 1.2em;
	}

	.movie-info {
		padding: 0 16px;
		width: 100%;
		box-sizing: border-box;
	}

	.favorite-heart {
		width: 24px;
		height: 24px;
		fill: $primary-color;
		transition: fill 0.3s ease;
	}

	.heart-filled {
		fill: red;
	}

	button {
		background: none;
		border: none;
		&:active,
		&:focus,
		&:focus-visible {
			border: none;
			outline: none;
		}
	}
}

.pagination-container {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 8px 0;
	background: $secondary-color;
	width: 100%;
	display: grid;
	place-content: center;

	.pagination-button {
		background: $info-color;
		color: $secondary-color;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin: 0 5px;
		outline: none;
		border: 0 none;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		&.active {
			background: $accent-color;
			color: $secondary-color;
		}
	}
}

.highlighted {
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
	background: $highlighted-gradient;
}

.release-date {
	color: $accent-color;
	font-weight: 400;
	.release-label {
		font-weight: 200;
		font-size: 0.875em;
		color: $primary-color;
	}
}

#toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.toast-message {
		width: 300px;
		background: $accent-color;
		color: $secondary-color;
		font-weight: 400;
		padding: 10px 20px;
		border-radius: 5px;
		transition: opacity 0.3s ease, transform 0.3s ease;
		opacity: 0;
		transform: translateY(-10px);

		&.show {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.toast-message.show {
	opacity: 1;
	transform: translateY(0);
}
